#overlay {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#canvasContainer {
    position: relative;
}

ion-phaser {
    position: absolute;
}